<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container">

    <a class="navbar-brand fw-bold" href="index.html">MyProject</a>

    <!-- Mobile hamburger button -->
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="work.html">Work</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
